// Custom.scss
// Option A: Include all of Bootstrap



// Include any default variable overrides here (though functions won't be available)



// colors?
$primary:#392A16; 
$secondary: #d9b99b;
$light: #d9b99b;
$dark: #392A16;


.bg-custom-beige {
    background-color: #d9b99b;
}

.custom-navbar {
    background-color: #392A16; // Light Blue color
}


.bg-custom-tan {
  background-color:#bc9b71;
}



// fonts
$font-family-base: 'Source Sans 3', sans-serif;

$headings-font-family: 'Sanchez', serif;
$headings-font-weight: 400;

$h1-font-size: 3.052rem;



// nav stuff

 #menu {
      margin-top: 200px; /* Adjust the value as needed */
    }


// photo grid under main image (home)

// $thumbnail-padding:                 .25rem;
// $thumbnail-bg:                      var(--#{$prefix}body-bg);
// $thumbnail-border-width:            var(--#{$prefix}border-width);
// $thumbnail-border-color:            var(--#{$prefix}border-color);
// $thumbnail-border-radius:           var(--#{$prefix}border-radius);
// $thumbnail-box-shadow:              var(--#{$prefix}box-shadow-sm);





// .square-container {
//   position: relative;
//   width: 100%;
//   padding-top: 100%; // This creates a square container
//   overflow: hidden; // Ensure the image doesn't overflow the container

//   img {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     object-fit: cover; // Maintain the aspect ratio and cover the container
//   }
// }

// // Apply the square-container class to each image
// .col-md-3 {
//   margin-bottom: 1rem; // Add some spacing between columns
// }

// // Additional styling for the img-thumbnail class
// .img-thumbnail {
//   border: 0; // Remove the default border
//   border-radius: 0; // Remove the default border-radius
// }








// CONTACT PAGE

.container-info {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 15px;
grid-row-gap: 15px;
}

.info1 { grid-area: 1 / 1 / 2 / 3; }
.info2 { grid-area: 2 / 1 / 3 / 3; }
.div3 { grid-area: 1 / 3 / 3 / 6; }


@import "../node_modules/bootstrap/scss/bootstrap";
