// Custom.scss
// Option A: Include all of Bootstrap




// Breakpoints
$small-screen: 320px;
$medium-screen: 768px;
$large-screen: 1024px;
$extra-large-screen: 1440px;
$larger-screen: 1920px;
$ultra-large-screen: 2500px;





$default-padding: 20px;
$small-padding: 10px;



/* Base styles for all screens */
body {

    $font-size-base: 16px;


h1 {
  font-weight: 900;
  font-family: 'Roboto Slab', serif;
  font-size: 4rem;
}

p {
  font-family: 'Source Sans 3', sans-serif;
}

#navigation.navbar {
    
    transition: height 0.3s ease;
    height: auto;
    width: 100%;

}

}



// BREAKPOINT ADJUSTMENTS



// 320px
@media (min-width: $small-screen) {

#navigation.navbar {
    height: auto; // Adjust the height as needed for smaller screens
    transition: height 0.3s ease;
  }
}

// 768px
@media (min-width: $medium-screen) {
    #navigation.navbar {
      height: fit-content;
    transition: height 0.3s ease;
  }
}









/* Responsive styles for screens 1440px and larger */
@media (min-width: $large-screen) {
 #navigation.navbar {
      height: fit-content;
    transition: height 0.3s ease;
    width: 100%;
    height: auto;
  }
}

/* Responsive styles for screens 1920px and larger */
@media (min-width: $extra-large-screen) {
  .your-element {
    width: 25%;
    transition: height 0.3s ease;
    /* Adjust styles for extra-large screens */
  }
}

/* Responsive styles for screens 2500px and larger */
@media (min-width: $larger-screen) {
  .your-element {
    /* Additional styles for larger screens */
  }
}






// Include any default variable overrides here (though functions won't be available)





// beige container top sec with logo

.container-fluid {
  .bg-custom-beige {
    .row {
      justify-content: center;

      img {
        width: 100px; // Set your desired width
        height: 100px; // Maintain aspect ratio
        display: block; // Ensure the image is treated as a block element
      }
    }
  }
}




// colors?


.bg-custom-beige {
    background-color: #BC9B71;
}

.custom-navbar {
    background-color: #392A16; 
}


.bg-custom-tan {
  background-color:#bc9b71;
}





.brown-button {
  background-color: #392A16;
  color: #bc9b71;
  padding: 10px;
  border-radius: 40px;
  margin: auto;
  border: none;
}


// fonts













// nav stuff





// photo grid under main image (home)

.col-md-6 {
  margin-bottom: 5px;
  padding-bottom: 5px;
}



 .inline-flex-container {
  display: inline-flex;
  border: 0;
}







// CONTACT PAGE

.container-info {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 15px;
grid-row-gap: 15px;
}

.info1 { grid-area: 1 / 1 / 2 / 3; }
.info2 { grid-area: 2 / 1 / 3 / 3; }
.div3 { grid-area: 1 / 3 / 3 / 6; }


@import "../node_modules/bootstrap/scss/bootstrap";
