// Custom.scss
// Option A: Include all of Bootstrap




// Breakpoints
$small-screen: 320px;
$medium-screen: 768px;
$large-screen: 1024px;
$extra-large-screen: 1440px;
$larger-screen: 1920px;
$ultra-large-screen: 2500px;









/* Base styles for all screens */
body {

    $font-size-base: 16px;


h1 {
  font-weight: 900;
  font-family: 'Roboto Slab', serif;
  font-size: 4rem;
  
}

p {
  font-family: 'Source Sans 3', sans-serif;
}

.navbar {
    
    transition: height 0.3s ease;
    height: auto;
    width: 100%;

}

a {
  text-decoration: none;
  color: #392A16;
}




}



@media (min-width: $small-screen) and (max-width:$medium-screen) {
    .h1 {
      font-size: 10pt;
      text-wrap: balance;
    }

    .navbar {
      width: 100%;
      width: max-content;
    }

  }



@media (max-width: $medium-screen) {
    .h1 {
      font-size: 30pt;
    }

    .container-fluid {
      padding-bottom: 20px;
    }
  }

  /* Medium screens */
  @media (min-width: $medium-screen) and (max-width:$large-screen) {
    .h1 {
      font-size: 10pt;
    }

    .navbar {
      width: 100%;
    }

    
  }












// BREAKPOINT ADJUSTMENTS OLDD



// 320px
// @media (min-width: $small-screen) {

// #navigation.navbar {
//     height: auto; // Adjust the height as needed for smaller screens
//     transition: height 0.3s ease;
//     width: 100%;
//   }
// }

// // 768px
// @media (min-width: $medium-screen) {
//     #navigation.navbar {
//       height: fit-content;
//     transition: height 0.3s ease;
//   }
// }













// beige container top sec with logo

.container-fluid {
  .bg-custom-beige {
    .row {
      justify-content: center;

      img {
        width: 100px; // Set your desired width
        height: 100px; // Maintain aspect ratio
        display: block; // Ensure the image is treated as a block element
      }
    }
  }
}




// colors?


.bg-custom-beige {
    background-color: #BC9B71;
}

.bg-custom-brown {
    background-color: #392A16;
  width: 100%;
}

.custom-navbar {
    background-color: #392A16; 
    width: max-content;
}


.bg-custom-tan {
  background-color:#bc9b71;
}

.bg-custom-fade {
  background-color: white;opacity: 75%;
}

.bg-custom-fade-block {
  background-color: white;opacity: 75%;
}



.brown-button {
  background-color: #392A16;
  color: #bc9b71;
  padding: 10px;
  border-radius: 40px;
  margin: auto;
  border: none;
  opacity: 100%;
}


// fonts













// nav stuff




// photo grid under main image (home)

.col-md-6 {
  margin-bottom: 5px;
  padding-bottom: 5px;
}



 .inline-flex-container {
  display: inline-flex;
  border: 0;
}







// CONTACT PAGE

.text-lg {
  font-size: 1.5rem;
}

.text-md {
  font-size: 1rem;
}


.bg-contact-bg {
  background-image: url('/optimized-imgs/front-room-plant-optimized.jpg'); 
      background-position: center;
      background-repeat:no-repeat;
      height: 100%; 
      width: 100%;
      object-fit: cover;
    }


// BOOKING PAGE

 .book-container h1,
.book-txt p,
.container-btn {
  opacity: 1; /* Full opacity for text and button */
}


.booking-bg {
  background-size:auto;
  background-image: url('/optimized-imgs/front-desk-optimized.jpeg'); 
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh; 
    }






@import "../node_modules/bootstrap/scss/bootstrap";
